<main class="main">
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="10">
          <ion-text color="primary">
            <h1>App Developer</h1>
          </ion-text>
          <ion-item>
            <ion-input
              label="Ingresa un número:"
              type="number"
              placeholder="000"
              labelPlacement="floating"
              [(ngModel)]="numIngresado"
            ></ion-input>
          </ion-item>
          <br />
          <ion-button (click)="encuentraMultiplos()"
            >Ejecutar y guardar</ion-button
          >
          <br />
          <br />
          <!-- Componente para visualizar resultados  -->
          @if(numeros.length>0){<app-lista
            [numeros]="numeros"
            [multiplos_colors]="multiplos_colors"
          />}
          <!-- mensajes de validaciones  -->
          @if(numeros.length==0 && val_mayor_cero) {
          <ion-text color="danger">Este número no se puede procesar</ion-text>}
          @if (val_vacio) {
          <ion-text color="danger">Ingrese un número</ion-text>} @if (estatus) {
          <ion-text color="success">Datos guardados correctamente</ion-text>}
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</main>
